---
import Navigation from "./Navigation.astro";
---

<header class="sticky top-0 z-50 w-full bg-white/90 backdrop-blur-md shadow-sm">
  <div class="container flex items-center justify-between h-20">
    <a href="/" class="flex items-center space-x-3">
      <span class="sr-only">Every Nation Tzaneen</span>
  <img src="/uploads/Tzaneen_Logo_Blue.png" alt="Every Nation Tzaneen logo" class="h-12 w-12 object-contain mr-2" />
      <span class="text-2xl font-bold text-primary-800 font-serif">Every Nation Tzaneen</span>
    </a>
    
    <Navigation />
  </div>
</header>